USE [SWP1]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[Account_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](255) NULL,
	[last_name] [nvarchar](255) NULL,
	[Gmail] [nvarchar](max) NULL,
	[phone_number] [varchar](15) NULL,
	[isAdmin] [bit] NULL,
	[isUser] [bit] NULL,
	[passwordHash] [varchar](256) NULL,
	[isStaff] [bit] NULL,
 CONSTRAINT [PK__ACCOUNT__B19D4181D79DDBEB] PRIMARY KEY CLUSTERED 
(
	[Account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAMPSITE]    Script Date: 7/14/2024 6:25:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAMPSITE](
	[Campsite_id] [int] IDENTITY(1,1) NOT NULL,
	[Price_id] [int] NULL,
	[Address] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[Image] [nvarchar](255) NULL,
	[Limite] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Campsite_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMENT]    Script Date: 7/14/2024 6:25:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENT](
	[Comment_id] [int] IDENTITY(1,1) NOT NULL,
	[TimeStamp] [datetime] NULL,
	[Content] [nvarchar](max) NULL,
	[Account_id] [int] NULL,
	[CampsiteAddress] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FEEDBACK]    Script Date: 7/14/2024 6:25:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEEDBACK](
	[Feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[StarNumber] [int] NULL,
	[TimeStamp] [datetime] NULL,
	[Account_id] [int] NULL,
	[Content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEAR]    Script Date: 7/14/2024 6:25:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEAR](
	[Gear_id] [int] IDENTITY(1,1) NOT NULL,
	[Price_id] [int] NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Gear_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICATION]    Script Date: 7/14/2024 6:25:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICATION](
	[Notification_id] [int] IDENTITY(1,1) NOT NULL,
	[Sender] [int] NULL,
	[Receiver] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[URL] [nvarchar](max) NULL,
	[TimeStamp] [datetime] NULL,
	[title] [nvarchar](255) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_DETAIL]    Script Date: 7/14/2024 6:25:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_DETAIL](
	[OrderDetail_id] [int] IDENTITY(1,1) NOT NULL,
	[Orders_id] [int] NULL,
	[Quantity] [int] NULL,
	[Gear_id] [int] NULL,
	[SubAmount] [int] NULL,
 CONSTRAINT [PK__ORDER_DE__53D7B488DFAB1610] PRIMARY KEY CLUSTERED 
(
	[OrderDetail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 7/14/2024 6:25:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[Orders_id] [int] IDENTITY(1,1) NOT NULL,
	[TimeStamp] [datetime] NULL,
	[Booker] [int] NULL,
	[Campsite_id] [int] NULL,
	[Quantity] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[ApproveStatus] [bit] NULL,
	[PaymentStatus] [bit] NULL,
	[TotalAmount] [int] NULL,
	[BookingPrice] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Orders_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRICE]    Script Date: 7/14/2024 6:25:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRICE](
	[Price_id] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Price_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCOUNT] ON 

INSERT [dbo].[ACCOUNT] ([Account_id], [first_name], [last_name], [Gmail], [phone_number], [isAdmin], [isUser], [passwordHash], [isStaff]) VALUES (1, N'Admin', N'ad', N'admin@gmail.com', N'0762584567', 1, 0, N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', 0)
INSERT [dbo].[ACCOUNT] ([Account_id], [first_name], [last_name], [Gmail], [phone_number], [isAdmin], [isUser], [passwordHash], [isStaff]) VALUES (2, N'Kim', N'Anh', N'kimanh3082@gmail.com', N'0869381823', 0, 1, N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', 0)
INSERT [dbo].[ACCOUNT] ([Account_id], [first_name], [last_name], [Gmail], [phone_number], [isAdmin], [isUser], [passwordHash], [isStaff]) VALUES (3, N'staff', N'1', N'staff@gmail.com', N'0123456789', 0, 0, N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', 1)
SET IDENTITY_INSERT [dbo].[ACCOUNT] OFF
GO
SET IDENTITY_INSERT [dbo].[CAMPSITE] ON 

INSERT [dbo].[CAMPSITE] ([Campsite_id], [Price_id], [Address], [Name], [Description], [Status], [Image], [Limite]) VALUES (1, 31, N'S? 123 ???ng Bên Sông 1', N'Khu C?m Tr?i Bên Sông 1', N'???c ??t bên b? sông, lý t??ng cho câu cá và th? giãn bên dòng sông s? 1.', 1, N'campsite1.jpg', 50)
INSERT [dbo].[CAMPSITE] ([Campsite_id], [Price_id], [Address], [Name], [Description], [Status], [Image], [Limite]) VALUES (2, 32, N'S? 456 ???ng Bên Sông 2', N'Khu C?m Tr?i Bên Sông 2', N'Ngh? ng?i bên b? sông s? 2 v?i c?nh quan h?u tình và yên bình.', 1, N'campsite2.jpg', 30)
INSERT [dbo].[CAMPSITE] ([Campsite_id], [Price_id], [Address], [Name], [Description], [Status], [Image], [Limite]) VALUES (3, 33, N'S? 789 ???ng Bên Sông 3', N'Khu C?m Tr?i Bên Sông 3', N'N?m d??i bóng cây râm mát bên b? sông s? 3, phù h?p cho nh?ng ai thích yên t?nh và thiên nhiên.', 1, N'campsite3.jpg', 40)
SET IDENTITY_INSERT [dbo].[CAMPSITE] OFF
GO
SET IDENTITY_INSERT [dbo].[FEEDBACK] ON 

INSERT [dbo].[FEEDBACK] ([Feedback_id], [StarNumber], [TimeStamp], [Account_id], [Content]) VALUES (6, 5, CAST(N'2024-07-14T00:00:00.000' AS DateTime), 2, N'vxvxbcxvvxcvxcv')
SET IDENTITY_INSERT [dbo].[FEEDBACK] OFF
GO
SET IDENTITY_INSERT [dbo].[GEAR] ON 

INSERT [dbo].[GEAR] ([Gear_id], [Price_id], [Name], [Description], [Image]) VALUES (1, 1, N'Túi ng?', N'Túi ng? mùa ?ông gi? ?m t?t, ch?t li?u m?m m?i, thích h?p cho nh?ng chuy?n ?i trong mùa l?nh.', N'tui_ngu.jpg')
INSERT [dbo].[GEAR] ([Gear_id], [Price_id], [Name], [Description], [Image]) VALUES (2, 2, N'B?p ga du l?ch', N'B?p ga nh? g?n, ti?n l?i khi mang theo, ti?t ki?m nhiên li?u và d? s? d?ng.', N'bep_ga.jpg')
INSERT [dbo].[GEAR] ([Gear_id], [Price_id], [Name], [Description], [Image]) VALUES (3, 3, N'Bình n??c', N'Bình n??c gi? nhi?t 1 lít, gi? l?nh và gi? nóng t?t, thi?t k? ch?c ch?n, d? mang theo.', N'binh_nuoc.jpg')
SET IDENTITY_INSERT [dbo].[GEAR] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDER_DETAIL] ON 

INSERT [dbo].[ORDER_DETAIL] ([OrderDetail_id], [Orders_id], [Quantity], [Gear_id], [SubAmount]) VALUES (4, 8, 1, 3, 120000)
INSERT [dbo].[ORDER_DETAIL] ([OrderDetail_id], [Orders_id], [Quantity], [Gear_id], [SubAmount]) VALUES (5, 8, 1, 5, 140000)
INSERT [dbo].[ORDER_DETAIL] ([OrderDetail_id], [Orders_id], [Quantity], [Gear_id], [SubAmount]) VALUES (7, 17, 1, 4, 130000)
SET IDENTITY_INSERT [dbo].[ORDER_DETAIL] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDERS] ON 

INSERT [dbo].[ORDERS] ([Orders_id], [TimeStamp], [Booker], [Campsite_id], [Quantity], [StartDate], [EndDate], [ApproveStatus], [PaymentStatus], [TotalAmount], [BookingPrice]) VALUES (8, CAST(N'2024-07-14T13:14:06.153' AS DateTime), 2, 2, 2, CAST(N'2024-07-15T00:00:00.000' AS DateTime), CAST(N'2024-07-17T00:00:00.000' AS DateTime), 0, 1, 700000, 440000)
INSERT [dbo].[ORDERS] ([Orders_id], [TimeStamp], [Booker], [Campsite_id], [Quantity], [StartDate], [EndDate], [ApproveStatus], [PaymentStatus], [TotalAmount], [BookingPrice]) VALUES (17, CAST(N'2024-07-14T16:39:38.383' AS DateTime), 2, 1, 3, CAST(N'2024-07-22T00:00:00.000' AS DateTime), CAST(N'2024-07-24T00:00:00.000' AS DateTime), 1, 1, 840000, 600000)
INSERT [dbo].[ORDERS] ([Orders_id], [TimeStamp], [Booker], [Campsite_id], [Quantity], [StartDate], [EndDate], [ApproveStatus], [PaymentStatus], [TotalAmount], [BookingPrice]) VALUES (18, CAST(N'2024-07-14T17:15:24.040' AS DateTime), 2, 1, 1, CAST(N'2024-07-25T00:00:00.000' AS DateTime), CAST(N'2024-07-27T00:00:00.000' AS DateTime), 0, 0, 200000, 200000)
SET IDENTITY_INSERT [dbo].[ORDERS] OFF
GO
SET IDENTITY_INSERT [dbo].[PRICE] ON 

INSERT [dbo].[PRICE] ([Price_id], [StartDate], [EndDate], [Price]) VALUES (1, CAST(N'2023-01-01T00:00:00.000' AS DateTime), CAST(N'2023-01-31T00:00:00.000' AS DateTime), CAST(100000.00 AS Decimal(10, 2)))
INSERT [dbo].[PRICE] ([Price_id], [StartDate], [EndDate], [Price]) VALUES (2, CAST(N'2023-02-01T00:00:00.000' AS DateTime), CAST(N'2023-02-28T00:00:00.000' AS DateTime), CAST(110000.00 AS Decimal(10, 2)))
INSERT [dbo].[PRICE] ([Price_id], [StartDate], [EndDate], [Price]) VALUES (3, CAST(N'2023-03-01T00:00:00.000' AS DateTime), CAST(N'2023-03-31T00:00:00.000' AS DateTime), CAST(120000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[PRICE] OFF
GO
ALTER TABLE [dbo].[CAMPSITE]  WITH CHECK ADD FOREIGN KEY([Price_id])
REFERENCES [dbo].[PRICE] ([Price_id])
GO
ALTER TABLE [dbo].[COMMENT]  WITH CHECK ADD  CONSTRAINT [FK__COMMENT__Account__440B1D61] FOREIGN KEY([Account_id])
REFERENCES [dbo].[ACCOUNT] ([Account_id])
GO
ALTER TABLE [dbo].[COMMENT] CHECK CONSTRAINT [FK__COMMENT__Account__440B1D61]
GO
ALTER TABLE [dbo].[FEEDBACK]  WITH CHECK ADD  CONSTRAINT [FK__FEEDBACK__Review__35BCFE0A] FOREIGN KEY([Account_id])
REFERENCES [dbo].[ACCOUNT] ([Account_id])
GO
ALTER TABLE [dbo].[FEEDBACK] CHECK CONSTRAINT [FK__FEEDBACK__Review__35BCFE0A]
GO
ALTER TABLE [dbo].[GEAR]  WITH CHECK ADD FOREIGN KEY([Price_id])
REFERENCES [dbo].[PRICE] ([Price_id])
GO
ALTER TABLE [dbo].[NOTIFICATION]  WITH CHECK ADD  CONSTRAINT [FK__NOTIFICAT__Recei__31EC6D26] FOREIGN KEY([Receiver])
REFERENCES [dbo].[ACCOUNT] ([Account_id])
GO
ALTER TABLE [dbo].[NOTIFICATION] CHECK CONSTRAINT [FK__NOTIFICAT__Recei__31EC6D26]
GO
ALTER TABLE [dbo].[NOTIFICATION]  WITH CHECK ADD  CONSTRAINT [FK__NOTIFICAT__Sende__30F848ED] FOREIGN KEY([Sender])
REFERENCES [dbo].[ACCOUNT] ([Account_id])
GO
ALTER TABLE [dbo].[NOTIFICATION] CHECK CONSTRAINT [FK__NOTIFICAT__Sende__30F848ED]
GO
ALTER TABLE [dbo].[ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK__ORDER_DET__Order__3B75D760] FOREIGN KEY([Orders_id])
REFERENCES [dbo].[ORDERS] ([Orders_id])
GO
ALTER TABLE [dbo].[ORDER_DETAIL] CHECK CONSTRAINT [FK__ORDER_DET__Order__3B75D760]
GO
ALTER TABLE [dbo].[ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Gear] FOREIGN KEY([Gear_id])
REFERENCES [dbo].[GEAR] ([Gear_id])
GO
ALTER TABLE [dbo].[ORDER_DETAIL] CHECK CONSTRAINT [FK_OrderDetail_Gear]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK__ORDERS__Booker__38996AB5] FOREIGN KEY([Booker])
REFERENCES [dbo].[ACCOUNT] ([Account_id])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK__ORDERS__Booker__38996AB5]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_CAMPSITE] FOREIGN KEY([Campsite_id])
REFERENCES [dbo].[CAMPSITE] ([Campsite_id])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_CAMPSITE]
GO
